@use "../../scss/" as *;

button {
    cursor: pointer;
    font-family: $font-family;
}

.btn{
    border: 4px solid transparent;
    background-color: $main-color;
    color: $white;
    border-radius: 30px;
    padding: 0.5rem 1.8rem;
    font-size: 1.5rem;
    font-weight: 600;
    box-shadow: 0px 0px 7px 8px #ff00004d;
    transition: box-shadow 0.3s ease;
    position: relative;
    &:hover {
        box-shadow: 0px 0px 7px 15px #ff00004d;
    }
}

.btn-outline {
    border: 3px solid $white;
    background-color: transparent;
    color: $white;
    box-shadow: unset;
    transition: color 0.3s ease, background-color 0.3s ease;
    &:hover, &.active {
        box-shadow: unset;
        color: $main-color;
        background-color: $white;
    }
}

.btn_close{
    height: 2rem;
    width: 2rem;
    padding: 0;
    font-size: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(20%, -20%);
}

.btn.small {
    border-width: 2px;
    padding: 0.25rem 1.5rem;
    font-size: 1rem;
    @include tablet{
        font-size: 1.2rem;
    }
}

.btn.disabled {
    pointer-events: none;
    opacity: 0.5;
}