@use "../../scss/" as *;

.notification-container {
  font-size: 14px;
  box-sizing: border-box;
  position: fixed;
  z-index: 10000;
  button {
    position: relative;
    right: -0.3em;
    top: -0.3em;
    float: right;
    font-weight: 700;
    color: $white;
    outline: none;
    border: none;
    text-shadow: 0 1px 0 $white;
    line-height: 1;
    font-size: 16px;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
  }
}

.top-right {
  top: 12px;
  right: 12px;
  transition: transform 0.6s ease-in-out;
  animation: toast-in-right 0.7s;
}

.bottom-right {
  bottom: 12px;
  right: 12px;
  transition: transform 0.6s ease-in-out;
  animation: toast-in-right 0.7s;
}

.top-left {
  top: 12px;
  left: 12px;
  transition: transform 0.6s ease-in;
  animation: toast-in-left 0.7s;
}

.bottom-left {
  bottom: 12px;
  left: 12px;
  transition: transform 0.6s ease-in;
  animation: toast-in-left 0.7s;
}

.remove-bottom-right {
  transition: transform 0.6s ease-in;
  transform: translateX(110%);
}

.notification {
  @include flex(flex-start, flex-start);
  background: $white;
  transition: 0.3s ease;
  pointer-events: auto;
  overflow: hidden;
  padding: 30px;
  margin-bottom: 15px;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 10px #999;
  color: #000;
  background-position: 15px;
  background-repeat: no-repeat;

  &:hover {
    box-shadow: 0 0 10px $white;
    cursor: pointer;
  }

  &_content {
    flex: 1;
    max-width: 85%;
  }

  &_title {
    font-weight: 700;
    font-size: 16px;
    text-align: left;
  }

  &_message {
    margin: 0;
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &_image {
    margin-right: 15px;
    img {
      width: 30px;
      height: 30px;
    }
  }
}

.toast {
  width: 365px;
  color: $white;
  padding: 15px 20px;
}

@keyframes toast-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes toast-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}