@use "../../scss/" as *;

.logo{
    @include flex("center", "center");

    &_image{
        width: 80px;
        height: auto;
        @include mobile{
            width: 50px;
        }
    }

    &_text{
        font-size: 30px;
        text-transform: uppercase;
        margin-left: 10px;
        font-weight: 600;
        font-style: italic;
        -webkit-text-stroke-color: $white;
        @include mobile{
            font-size: 19px;
        }
    }
}
