@use "../../scss/" as *;

.modal {
  padding: 2rem;
  background-color: #0f0f0f;
  border-radius: 1rem;
  width: 50%;
  opacity: 0;
  transform: translateY(-250px);
  transition: all 0.6s ease;
  position: relative;
  &.active {
    opacity: 1;
    transform: translateY(0);
  }
  @include tablet{
    width: 90%;
  }
}
