@use "../../scss/" as *;

.hero_slide {
  margin-bottom: 3rem;
  &_item {
    padding: 9rem 0;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100px;
      background-image: linear-gradient(to top, #0f0f0f, rgba(0, 0, 0, 0));
    }
    &_content {
      @include flex(center, space-between);
      position: relative;
      &_info {
        width: 55%;
        padding: 0 3rem;
        position: relative;
        @include tablet{
          width: 100%;
        }
        & > * ~ * {
          margin-top: 3rem;
        }
        .title {
          font-size: 5rem;
          font-weight: 700;
          line-height: 1;
          @include tablet{
            font-size: 4rem;
          }
        }
        .overview {
          font-weight: 700;
          @include tablet{
            font-size: 1.4rem;
            font-weight: 500;
        }
        }
        .btns > * ~ * {
          margin-left: 1rem;
        }
        .btns,
        .title,
        .overview {
          opacity: 0;
          transform: translateY(-100px);
          transition: transform 0.5s ease, opacity 0.5s ease;
        }
      }
      &_poster {
        @include flex(center, flex-start);
        flex: 1 1;
        position: relative;
        @include tablet{
          display: none;
        }
        img {
          width: 400px;
          border-radius: 30px;
          box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
          transform: scale(0);
          transition: transform 0.7s ease;
        }
      }
    }
    &.active > &_content > &_content_poster {
      img {
        transform: scale(1);
      }
    }
    &.active > &_content > &_content_info {
      .btns,
      .title,
      .overview {
        opacity: 1;
        transform: translateY(0);
      }

      .title {
        transition-delay: 0.3s, 0.3s;
      }

      .overview {
        transition-delay: 0.6s, 0.6s;
      }

      .btns {
        transition-delay: 0.9s, 0.9s;
      }
    }
  }
}
