@use "../../scss/" as *;

.header {
  position: fixed;
  padding: 0 32px;
  height: 128px;
  width: 100%;
  z-index: 100;
  transition: height 0.3s ease, background-color 0.3s ease;
  @include flex(center, space-between);
  @include mobile {
    @include flex(center, center);
    height: 90px;
  }

  &.shrink {
    height: $header-shrink-height;
    background-color: $body-bg;
  }

  &_nav {
    @include flex(center, space-between);
    li {
      padding: 5px 0;
      font-weight: 700;
      position: relative;
      font-size: 25px;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        transition: width 0.5s ease;
        height: 3px;
        background-color: $main-color;
      }
      &:last-child::after{
        content: "";
        display: none;
      }
      &.active::after,
      &:hover::after {
        width: 100%;
      }
    }
    & > * ~ * {
      margin-left: 25px;
    }
    @include mobile {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 5px 10px;
      font-size: 16px;
      margin-top: 48px;
      background-color: $body-bg;
      li {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
  .user_image{
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 9999px;
    cursor: pointer;
    @include flex(center, center);
  }
  .user_menu{
    padding: 5px 25px;
    position: absolute;
    top: 65px;
    right: 0;
    background-color: $body-bg;
    border-radius: 8px;
    border: 2px solid $white;
    li{
      font-size: 18px;
      font-weight: 600;
      border-bottom: 1px solid $white;
      cursor: pointer;
      &:last-child{
        border-bottom: none;
      }
      &:hover{
        color: $main-color;
      }
      &::after{
        content: "";
        display: none;
      }
    }
    @include mobile {
      top: -100px;
    }
  }
}