@use "../../scss/" as *;

.footer {
  background-image: url("../../assets/images/footer-bg.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 95px 35px;
  @include mobile {
    padding: 35px;
  }
  &_content {
    max-width: 1000px;

    &_logo {
      @include flex(center, center);
      margin-bottom: 50px;
    }
    &_menus {
      @include flex(flex-start, space-between);
      @include mobile {
        flex-wrap: wrap;
      }
    }
    &_menu {
      @include flex(flex-start, flex-start);
      flex-direction: column;
      font-size: 24px;
      font-weight: 600;
      & > * {
        margin-bottom: 15px;
      }
      @include mobile {
        font-size: 16px;
      }
    }
  }
}
