@use "../../scss/" as *;

.banner {
  height: 50vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include overlay();
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, $body-bg, rgba($black, 0));
  }
}

.movie_content {
  @include flex(flex-start, flex-start);
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -200px;
  position: relative;
  padding: 0 2rem;

  &_poster {
    flex: 1;

    @include mobile {
      display: none;
    }

    &_img {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: $border-radius;
      padding-top: 165%;
    }
  }

  &_info {
    width: 70%;
    padding-left: 2rem;
    position: relative;

    @include mobile {
      width: 100%;
      padding-left: 0;
    }

    & > * {
      margin-bottom: 2rem;
    }

    .title {
      font-size: 4rem;
      line-height: 1;
    }

    .overview{
      @include mobile {
        font-size: 1.2rem;
      }
    }

    .genres {
      & > * ~ * {
        margin-left: 0.5rem;
      }
      @include mobile {
        @include flex(center, flex-start);
        flex-wrap: wrap;
      }

      &_item {
        padding: 0.5rem 1.5rem;
        border: 2px solid $white;
        border-radius: $border-radius;
        font-size: 0.8rem;
        font-weight: 600;
        background-color: $body-bg;
        white-space: nowrap;
        @include tablet {
          font-size: 1rem;
        }
        @include mobile {
          margin-bottom: 1rem;
          font-size: 1.2rem;
        }
        &_favotite {
          cursor: pointer;
            border-color: $main-color;
            background-color: $main-color;
            color: $white;
        }
      }
    }
  }
}

.casts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  gap: 10px;

  &_item {
    &_img {
      padding-top: 160px;
      background-size: cover;
      margin-bottom: 0.5rem;
      border-radius: 12px;
    }

    &_name {
      font-size: 0.8rem;
      @include tablet {
        font-size: 1.2rem;
      }
    }
  }
}

.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  width: calc(100% - 4rem);
  margin: 0 auto 5rem;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.season_item {
  @include flex(flex-start, flex-start);
  margin-bottom: 1.5rem;
  &_title {
    min-width: 10rem;
  }
  .episodes {
    & > * {
      margin-right: 0.5rem;
    }
    .episode {
      margin-bottom: 1rem;
      min-width: 5rem;
    }
  }
}
