@use "../../scss/" as *;

.overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include overlay;
    z-index: 100;
    &_content-center{
        @include flex(center, center)
    }
}
